* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    padding: 0 200px;
}

header {
    background-color: #1F2937;
    color: #F9FAF8;
    height: 525px;
}

.header-links {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    align-items: center; 
    margin-bottom: 100px;    
}

.header-links__logo {   
    font-size: 24px;
    font-weight: bold;
    flex-shrink: 0;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 24px;    
}

.header-links a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    flex-shrink: 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    gap: 80px;    
}

.header-content__text {
    width: 500px;
    font-size: 18px;
    flex-shrink: 0;
}

.header-content__text p{
    margin-bottom: 18px;
}

.header-content__text h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;    
}

.header-content__img {
    width: 500px;
    height: 250px;    
    flex-shrink: 0;
}



.header-content__text button {
    background-color: #3882F6;
    border: none;
    cursor: pointer;
    padding: 5px 42px 8px;
    border-radius: 8px;
    font-size: 20px;
    color: #F9FAF8;
    font-weight: bold;
}

.information {
    background-color: #F9FAF8;
    height: 525px;
    color: #1F2937;   
}

.information__header {
    text-align: center;
    font-size: 32px;
    font-weight: bold;    
    padding: 65px 0;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 65px;
}

.card {
    width: 170px;
    text-align: center;
}

.card__img {
    width: 150px;
    height: 150px;
    border: 4px solid#3882F6;
    border-radius: 15px;
    margin-bottom: 10px;
}

.card__text {
    font-size: 18px;
    color: #1F2937;
}

.quote {
    height: 525px;
    background-color: #E5E7EB;
}

.quote__text {
    font-size: 36px;
    font-weight: 300px;
    font-style: italic;
    padding-bottom: 10px;
}

.quote .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 525px;
}

.quote__information {
    width: 800px;
}

.quote__author {
    text-align: right;
    padding-right: 30px;
    font-weight: bold;
    font-size: 26px;
}

.authorization .container {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.authorization {
    background-color: #F9FAF8;
}

.authorization__info {
    height: 150px;
    width: 1085px;
    background-color: #3882F6;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.authorization__info .call {
    color: #F9FAF8; 
    font-weight: bold;
    font-size: 22px;
}

.authorization__info .description {
    color: #F9FAF8;
}

.authorization__info .description {
    color: #E5E7EB;
}

.authorization__info button {
    margin: 0;
    padding: 8px 39px;
    border-radius: 8px;
    border: 2px solid #F9FAF8;
    color: #F9FAF8;
    background-color: #3882F6;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}