* {
    padding: 0;
    margin: 0;
}

.container {
    padding: 0 200px;
}

header {
    background-color: #1F2937;
    color: #F9FAF8;
    height: 525px;
}

.header-links {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    align-items: center; 
    margin-bottom: 100px;    
}

.header-links__logo {   
    font-size: 24px;
    font-weight: bold;
    flex-shrink: 0;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 24px;    
}

.header-links a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    flex-shrink: 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    gap: 80px;    
}

.header-content__text {
    width: 500px;
    font-size: 18px;
    flex-shrink: 0;
}

.header-content__text p{
    margin-bottom: 18px;
}

.header-content__text h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;    
}

.header-content__img {
    width: 600px;
    height: 250px;
    background-color: white;
    flex-shrink: 0;
}

.header-content__text button {
    background-color: #3882F6;
    border: none;
    cursor: pointer;
    padding: 5px 42px 8px;
    border-radius: 8px;
    font-size: 20px;
    color: #F9FAF8;
    font-weight: bold;
}

